In [2]:
#Installation of database connectivity
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\s.sethumadhavan\appdata\roaming\python\python312\site-packages (9.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
#Import sql Connectivity
import mysql.connector

In [7]:
#Create Database 
mydb=mysql.connector.connect(host='localhost',user='root',password='root@39')
mycursor=mydb.cursor()
mycursor.execute('CREATE DATABASE shop')

In [7]:
#To view the available databases

import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',password='root@39')
mycursor=mydb.cursor()
mycursor.execute('SHOW DATABASES')
for x in mycursor:
    print(x)

('accounts',)
('bank_database',)
('cafe_reservation',)
('cafereservation',)
('classicmodels1',)
('company',)
('demo',)
('emp',)
('factory',)
('information_schema',)
('library',)
('minicost',)
('mysql',)
('naveen',)
('normalization',)
('performance_schema',)
('shop',)
('store',)
('student',)
('sys',)
('worker',)

In [5]:
#Creating a table in shop databases
import mysql.connector
mydb=mysql.connector.connect(host='localhost', user='root', password='root@39',database='shop')
mycursor=mydb.cursor()
mycursor.execute('CREATE TABLE customers(Name Varchar(200),Address Varchar(200))')
print('table created')

table created

In [6]:
#Altering the value and adding ID field

mycursor.execute('ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY')

In [7]:
#Inserting one value in a table using execute

sql='INSERT INTO customers (name,address) VALUES (%s,%s)'
val=('John','highway 21')
mycursor.execute(sql,val)
mydb.commit()
print(mycursor.rowcount,"record inserted")

1 record inserted

In [8]:
#Inserting many values in a table using executemany

sql='INSERT INTO CUSTOMERS(name,address) Values (%s,%s)'
val=[('John Doe', '123 Elm St, Springfield, IL'),
('Jane Smith', '456 Oak Rd, Greenville, TX'),
('Emily Johnson', '789 Pine Ave, Atlanta, GA'),
('Michael Brown', '101 Maple Dr, Boston, MA'),
('Sarah Davis', '202 Birch Ln, Miami, FL'),
('David Wilson', '303 Cedar Blvd, Seattle, WA'),
('Laura Moore', '404 Redwood Ct, Phoenix, AZ'),
('James Taylor', '505 Willow Way, Dallas, TX'),
('Lisa Anderson', '606 Ash St, Denver, CO'),
('Robert Clark', '707 Fir Ave, San Francisco, CA')]
mycursor.executemany(sql,val)
mydb.commit()
print(mycursor.rowcount,"Record inserted")

10 Record inserted

In [9]:
mycursor.execute('SELECT * from customers')
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

('John', 'highway 21', 1)
('John Doe', '123 Elm St, Springfield, IL', 2)
('Jane Smith', '456 Oak Rd, Greenville, TX', 3)
('Emily Johnson', '789 Pine Ave, Atlanta, GA', 4)
('Michael Brown', '101 Maple Dr, Boston, MA', 5)
('Sarah Davis', '202 Birch Ln, Miami, FL', 6)
('David Wilson', '303 Cedar Blvd, Seattle, WA', 7)
('Laura Moore', '404 Redwood Ct, Phoenix, AZ', 8)
('James Taylor', '505 Willow Way, Dallas, TX', 9)
('Lisa Anderson', '606 Ash St, Denver, CO', 10)
('Robert Clark', '707 Fir Ave, San Francisco, CA', 11)

In [26]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost', user='root', password='root@39',database='shop')
mycursor=mydb.cursor()
sql = "SELECT * FROM customers WHERE id='2'"
mycursor.execute(sql)
result = mycursor.fetchall()

for row in result:
    print(row)

('John Doe', '123 Elm St, Springfield, IL', 2)

In [4]:
import mysql.connector


class student:
    def __init__(self):
        self.mydb=mysql.connector.connect(host='localhost', user='root', password='root@39',database='student')
        self.mycursor=self.mydb.cursor()

    def insert(self):
        n=input("Enter the name of the Student:")
        S=input("Enter the Standard:")
        M=int(input("Enter the Total Marks:"))
        sql='INSERT INTO Stud (Name,Standard,Marks) VALUES (%s,%s,%s)'
        val=(n,S,M)
        self.mycursor.execute(sql,val)
        self.mydb.commit()

    def delete(self):
        n=input('Enter the name of the student which you want to delete:')
        sql=('DELETE FROM Stud WHERE NAME=%s')
        val=[n]
        self.mycursor.execute(sql,val)
        self.mydb.commit()
    
    def Update(self):
      
        f=input("Enter your field or row where u want to edit: Name or Standard or Marks")
        c=input("Enter the value which you want to update")
        s=int(input("Enter the ID which you want to edit:"))
        sql=f"UPDATE stud SET {f}={c} WHERE id={s}"
        self.mycursor.execute(sql)
        self.mydb.commit()

    def view(self):
        #id=int(input("Enter the ID of the student to view the details:"))
        sql=f"select * from stud where id=1"
        a=self.mycursor.execute(sql)
        print(a)
        for x in a:
            print(x)
           


obj1=student()
obj1.view()

None

TypeError: 'NoneType' object is not iterable