In [3]:
#Instal monogodb
pip install pymongo

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymongo in c:\users\s.sethumadhavan\appdata\roaming\python\python312\site-packages (4.10.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\s.sethumadhavan\appdata\roaming\python\python312\site-packages (from pymongo) (2.7.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
from pymongo import MongoClient
client=MongoClient('localhost',27017)

#creating new Database
db=client.newdb

#creating collection
people=db.people

#inserting records
people.insert_one({'name':'john','age':20})
people.insert_one({'name':'lisa','age':30,'interest':['books','movies']})
people.insert_one({'name':'john','age':30})
people.insert_one({'name':'john','age':27})
people.insert_one({'name':'john','age':40})
people.insert_one({'name':'mike','age':60})
people.insert_one({'name':'lisa','age':23,'interest':['books','movies']})

InsertOneResult(ObjectId('6769218286d18b78a61dc485'), acknowledged=True)

In [12]:
for person in people.find():
    print(person)

{'_id': ObjectId('6769218286d18b78a61dc47f'), 'name': 'john', 'age': 20}
{'_id': ObjectId('6769218286d18b78a61dc480'), 'name': 'lisa', 'age': 30, 'interest': ['books', 'movies']}
{'_id': ObjectId('6769218286d18b78a61dc481'), 'name': 'john', 'age': 30}
{'_id': ObjectId('6769218286d18b78a61dc482'), 'name': 'john', 'age': 27}
{'_id': ObjectId('6769218286d18b78a61dc483'), 'name': 'john', 'age': 40}
{'_id': ObjectId('6769218286d18b78a61dc484'), 'name': 'mike', 'age': 60}
{'_id': ObjectId('6769218286d18b78a61dc485'), 'name': 'lisa', 'age': 23, 'interest': ['books', 'movies']}

In [17]:
#Creating the new one and getting the ID of the dict
mike_id=people.insert_one({'name':'madhavan','age':23,'interest':['books','movies']}).inserted_id
print(mike_id)

676922a786d18b78a61dc489

In [20]:
#viewing the name of the person  and age using ObjectID
from bson.objectid import ObjectId
print([p for p in people.find({'_id':ObjectId('676922a786d18b78a61dc489')})])

[{'_id': ObjectId('676922a786d18b78a61dc489'), 'name': 'madhavan', 'age': 23, 'interest': ['books', 'movies']}]

In [24]:
# Listing the names in a list called people where age is less than 25 
print([p for p in people.find({'age':{'$lt':25}})])

[{'_id': ObjectId('6769218286d18b78a61dc47f'), 'name': 'john', 'age': 20}, {'_id': ObjectId('6769218286d18b78a61dc485'), 'name': 'lisa', 'age': 23, 'interest': ['books', 'movies']}, {'_id': ObjectId('6769218c86d18b78a61dc486'), 'name': 'lisa', 'age': 23, 'interest': ['books', 'movies']}, {'_id': ObjectId('676921c786d18b78a61dc487'), 'name': 'sethu', 'age': 23, 'interest': ['books', 'movies']}, {'_id': ObjectId('676922a786d18b78a61dc489'), 'name': 'madhavan', 'age': 23, 'interest': ['books', 'movies']}]

In [29]:
#Count the number of counts contains word sethu
print(people.count_documents({'name':'sethu'}))

1

In [31]:
#Update the already existing record using Object ID

people.update_one({'_id':ObjectId('676922a786d18b78a61dc489')},{'$set':{'age':22}})

UpdateResult({'n': 1, 'nModified': 0, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [34]:
#Update the already existing record using name
people.update_one({'name':'sethu'},{'$set':{'age':22}})

UpdateResult({'n': 1, 'nModified': 0, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [36]:
#delete the  existing record using age less than 22 not equal to
people.delete_many({'age':{'$lt':22}})

DeleteResult({'n': 0, 'ok': 1.0}, acknowledged=True)

In [45]:
#Group by and Aggregate
from bson import SON
pipeline=[{
        '$group':{
            '_id':'$name','averageAge':{'$avg':'$age'}
        }
},
{
'$sort':SON([('averageAge',1)])
}
]

results=people.aggregate(pipeline)

for result in results:
    print(result)

{'_id': 'madhavan', 'averageAge': 22.0}
{'_id': 'sethu', 'averageAge': 22.0}
{'_id': 'lisa', 'averageAge': 25.333333333333332}
{'_id': 'john', 'averageAge': 32.333333333333336}
{'_id': 'mike', 'averageAge': 60.0}

In [51]:
from pymongo import MongoClient

#Connect to MongoDB 
client=MongoClient('mongodb://localhost:27017/')

#Specify the database and collection
db=client['test']
collection=db['test1']

In [53]:
#Inserting Single Value using insert_one
document={"name":"Alice","age":30,"city":"New york"}
result=collection.insert_one(document)
print(f"Inserted document ID:{result.inserted_id}")

Inserted document ID:67692a3e86d18b78a61dc491

In [54]:
#Inserting Many value using insert_many
documents=[{'name':'Bob',"age":25,"city":"chicago"},
           {'name':'Charlie',"age":27,"city":"San Francisco"},
           {'name':'Mad',"age":35,"city":"India"}]
result=collection.insert_many(documents)
print(f"Inserted Document Id's:{result.inserted_ids}")

Inserted Document Id's:[ObjectId('67692b2986d18b78a61dc492'), ObjectId('67692b2986d18b78a61dc493'), ObjectId('67692b2986d18b78a61dc494')]

In [59]:
#Find one documents in the collection
documents=collection.find_one({"name":"Mad"})
print (documents)

{'_id': ObjectId('67692b2986d18b78a61dc494'), 'name': 'Mad', 'age': 35, 'city': 'India'}

In [60]:
#Find all documents in the collection
documents=collection.find()
for doc in documents:
    print(doc)

{'_id': ObjectId('67692a2086d18b78a61dc490'), 'name': 'Alice', 'age': 30, 'city': 'New york'}
{'_id': ObjectId('67692b2986d18b78a61dc492'), 'name': 'Bob', 'age': 25, 'city': 'chicago'}
{'_id': ObjectId('67692b2986d18b78a61dc493'), 'name': 'Charlie', 'age': 27, 'city': 'San Francisco'}
{'_id': ObjectId('67692b2986d18b78a61dc494'), 'name': 'Mad', 'age': 35, 'city': 'India'}

In [62]:
#Find documents where age > 30
query={"age":{"$gte":30}} #gte-Greater than Equal to
documents=collection.find(query)
for doc in documents:
    print(doc)

{'_id': ObjectId('67692a2086d18b78a61dc490'), 'name': 'Alice', 'age': 30, 'city': 'New york'}

In [64]:
#Update a single document
query={"name":"Mad"}
new_values={"$set":{"age":22}}
result=collection.update_one(query,new_values)

In [65]:
#Update all document which is greater than 30
query={"age":{"$gt":25}}
new_values={"$set":{"city":"India"}}
result=collection.update_many(query,new_values)

In [66]:
data = [
    {"name": "Alice", "age": 30, "city": "New York", "hobbies": ["Reading", "Sports"], "salary": 70000},
    {"name": "Bob", "age": 35, "city": "Los Angeles", "hobbies": ["Music", "Traveling"], "salary": 85000},
    {"name": "Charlie", "age": 28, "city": "Chicago", "hobbies": ["Photography", "Cycling"], "salary": 65000},
    {"name": "David", "age": 40, "city": "Miami", "hobbies": ["Cooking", "Fishing"], "salary": 92000},
    {"name": "Eva", "age": 33, "city": "San Francisco", "hobbies": ["Writing", "Yoga"], "salary": 78000},
    {"name": "Frank", "age": 45, "city": "Austin", "hobbies": ["Gaming", "Movies"], "salary": 100000},
    {"name": "Grace", "age": 25, "city": "Seattle", "hobbies": ["Reading", "Art"], "salary": 55000},
    {"name": "Hank", "age": 50, "city": "Boston", "hobbies": ["Golf", "Hiking"], "salary": 110000},
    {"name": "Ivy", "age": 32, "city": "New York", "hobbies": ["Cooking", "Fitness"], "salary": 70000},
    {"name": "Jack", "age": 38, "city": "Los Angeles", "hobbies": ["Running", "Traveling"], "salary": 90000}
]

collection.insert_many(data)

InsertManyResult([ObjectId('67692fe186d18b78a61dc495'), ObjectId('67692fe186d18b78a61dc496'), ObjectId('67692fe186d18b78a61dc497'), ObjectId('67692fe186d18b78a61dc498'), ObjectId('67692fe186d18b78a61dc499'), ObjectId('67692fe186d18b78a61dc49a'), ObjectId('67692fe186d18b78a61dc49b'), ObjectId('67692fe186d18b78a61dc49c'), ObjectId('67692fe186d18b78a61dc49d'), ObjectId('67692fe186d18b78a61dc49e')], acknowledged=True)

In [68]:
#Find all documents where age is greater than 25

pipeline=[{"$match":{"age":{"$gt":30}}}]
result=collection.aggregate(pipeline)
for doc in result:
    print(doc)

{'_id': ObjectId('67692fe186d18b78a61dc496'), 'name': 'Bob', 'age': 35, 'city': 'Los Angeles', 'hobbies': ['Music', 'Traveling'], 'salary': 85000}
{'_id': ObjectId('67692fe186d18b78a61dc498'), 'name': 'David', 'age': 40, 'city': 'Miami', 'hobbies': ['Cooking', 'Fishing'], 'salary': 92000}
{'_id': ObjectId('67692fe186d18b78a61dc499'), 'name': 'Eva', 'age': 33, 'city': 'San Francisco', 'hobbies': ['Writing', 'Yoga'], 'salary': 78000}
{'_id': ObjectId('67692fe186d18b78a61dc49a'), 'name': 'Frank', 'age': 45, 'city': 'Austin', 'hobbies': ['Gaming', 'Movies'], 'salary': 100000}
{'_id': ObjectId('67692fe186d18b78a61dc49c'), 'name': 'Hank', 'age': 50, 'city': 'Boston', 'hobbies': ['Golf', 'Hiking'], 'salary': 110000}
{'_id': ObjectId('67692fe186d18b78a61dc49d'), 'name': 'Ivy', 'age': 32, 'city': 'New York', 'hobbies': ['Cooking', 'Fitness'], 'salary': 70000}
{'_id': ObjectId('67692fe186d18b78a61dc49e'), 'name': 'Jack', 'age': 38, 'city': 'Los Angeles', 'hobbies': ['Running', 'Traveling'], 'salary': 90000}

In [70]:
from bson import SON
pipeline=[{
        '$group':{
            '_id':'$city','Total_age':{'$sum':'$age'}
        }
},
{
'$sort':SON([('Total_age',1)])
}
]

result=collection.aggregate(pipeline)
for doc in result:
    print(doc)

{'_id': 'Seattle', 'Total_age': 25}
{'_id': 'Chicago', 'Total_age': 28}
{'_id': 'San Francisco', 'Total_age': 33}
{'_id': 'Miami', 'Total_age': 40}
{'_id': 'Austin', 'Total_age': 45}
{'_id': 'Boston', 'Total_age': 50}
{'_id': 'New York', 'Total_age': 62}
{'_id': 'Los Angeles', 'Total_age': 73}

In [72]:
documents=[{"_id":1, "name":"Alice","address":"123,Maple St"},
           {"_id":2, "name":"Sethu","address":"456,apple St"},
           {"_id":3, "name":"madhavan","address":"446,orange St"}]
collection.insert_many(documents)

InsertManyResult([1, 2, 3], acknowledged=True)